In [23]:
import pandas as pd

node_file = '/home/voyager/project/lz-graph/data/nodes.csv'
link_file = '/home/voyager/project/lz-graph/data/stat_links.csv'

'''
csv = pd.read_csv(node_file, header=0)
csv.head(5)

x = [0]
x.extend(list(csv['CUSTOMTYPE']))
x = [0 if value == 4 else value for value in x]
'''

csv = pd.read_csv(link_file, header=0)
csv.head(5)

   Unnamed: 0  source  target  count      sum
0           0       0       2      2  29800.0
1           1       0       4      4  15000.0
2           2       0       7      1      5.0
3           3       0       9      2  10000.0
4           4       0      10      1    300.0